

<section class="about" id="about">
    <div class="container-about">
      <h2 class="about-title">Sobre nós</h2>
      <div class="sobre-content">
        <div class="sobre-text">
          <p>
            "Somos a sua solução ágil e inteligente para serviços automotivos! Com a conveniência da tecnologia e o poder da geolocalização, conectamos você, onde quer que esteja, aos profissionais e serviços automotivos que precisa, de forma rápida e eficiente.
            <br><br>
            Nossa missão é simplificar o acesso a cuidados para o seu veículo, eliminando a burocracia e a espera."
          </p>
          <video src="src/assets/video/vecteezy_breakdown-broken-car-repair-woman-uses-mobile-phone-check_20897111.mp4" autoplay loop muted></video>
        </div>
        <div class="sobre-list">
          <h3>Com a gente, você tem:</h3>
          <ul>
            <li><span>Rapidez:</span> Encontre o serviço que você precisa em tempo recorde, diretamente na sua localização.</li>
            <li><span>Conveniência:</span> Solicite serviços automotivos com apenas alguns cliques, sem precisar se deslocar ou procurar indicações.</li>
            <li><span>Cobertura:</span> Nossa rede de parceiros abrange diversas especialidades e está em constante expansão para atender às suas necessidades.</li>
            <li><span>Praticidade:</span> Receba o atendimento no local onde seu veículo se encontra, seja em casa, no trabalho ou na estrada.</li>
          </ul>
          <div class="sobre-belief">
            <p>"Conte com a nossa expertise em terceirização de serviços automotivos para ter mais tempo, tranquilidade e a certeza de um atendimento de qualidade, sempre ao seu alcance."</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  