<div class="alert-container" id="alert-container">
    <div class="loading-bar" id="loading-bar"></div>
    <div class="alert-content">
      <div class="alert-icon">
        <i class="ri-alert-line"></i>
      </div>
      <div class="alert-message">
        <h3>Atenção! 🚧 </h3>
        <p>A plataforma <strong>SOS Auto</strong> está em <strong>fase de desenvolvimento</strong> . Apesar disso, nossos serviços já estão disponíveis para você! Sinta-se à vontade para solicitar atendimentos normalmente enquanto trabalhamos para oferecer uma experiência ainda melhor. 🚗✨</p>
      </div>
    </div>
  </div>