<footer>
    <div class="footer-content">
      <div class="apoio">
        <p>Apoio:</p>
  
        <a href="https://sebrae.com.br/sites/PortalSebrae/" target="_blank" rel="noopener noreferrer">
          <img src="src/assets/images/logo-Sebrae.png" alt="logo Sebrae">
        </a>
  
        <a href="https://sebrae.com.br/sites/PortalSebrae/sebraelab" target="_blank" rel="noopener noreferrer">
          <img src="src/assets/images/logo-sebraelab.png" alt="logo SebraeLab">
        </a>
  
      </div>
    </div>
    <p>&copy; 2025 SOS-Auto. Todos os direitos reservados.</p>
  </footer>
  