<header class="header" id="header">
    <nav class="nav container-header">
       <a href="#home" class="nav-logo">
        <img src="src/assets/images/logo21.png" alt="">
       </a>

       <div class="nav-menu" id="nav-menu">
          <ul class="nav-list">
             <li class="nav-item">
                <a href="#home" class="nav-link">
                   <i class="ri-arrow-right-up-line"></i>
                   <span>Home</span>
                </a>
             </li>

             <li class="nav-item">
                <a href="#about" class="nav-link">
                   <i class="ri-arrow-right-up-line"></i>
                   <span>Sobre nós</span>
                </a>
             </li>

             <li class="nav-item">
                <a href="#service" class="nav-link">
                   <i class="ri-arrow-right-up-line"></i>
                   <span>Serviços</span>
                </a>
             </li>

             <li class="nav-item">
                <a href="#contact" class="nav-link">
                   <i class="ri-arrow-right-up-line"></i>
                   <span>Contato</span>
                </a>
             </li>

          </ul>

          <!-- Close button -->
          <div class="nav-close" id="nav-close">
             <i class="ri-close-large-line"></i>
          </div>

          <div class="nav-social">
             <a href="#" target="_blank" class="nav-social-link">
                <i class="ri-instagram-line"></i>
             </a>

             <a href="#" target="_blank" class="nav-social-link">
                <i class="ri-youtube-line"></i>
             </a>

             
          </div>
       </div>

    
       <div class="nav-toggle" id="nav-toggle">
          <i class="ri-menu-line"></i>
       </div>
    </nav>
 </header>