<section class="service" id="service"> 
    <div class="container-service"> 
        <div class="content-img"> 
            <div class="phone-container"> 
                <div class="background"></div> 
                <div class="phone-screen"> 
                    <img src="src/assets/images/Made with insMind-1265738-gps-navigator-map-with-red-pins-locations-gratis-vetor (1).jpg" alt="Tela do aplicativo SOS-Auto" loading="lazy"> 
                </div> 
                <img src="src/assets/images/iphone-sem-fundo.png" alt="Celular com aplicativo SOS-Auto" class="phone-frame"> 
            </div> 
        </div> 
 
        <div class="content-service"> 
            <div> 
                <h2>Nossos Serviços</h2>
                <p class="service-descricao">
                  A SOS-Auto não presta diretamente os serviços automotivos, mas facilita a sua busca de forma rápida, geolocalizada e segura. Com apenas alguns toques, você encontra o serviço ideal onde estiver.
                </p>
            </div> 
            <div class="lista-servicos-itens"> 
                <ul> 
                    <li> 
                        <span>🚨</span> 
                        <div> 
                            <h3>Reboque</h3> 
                            <p>Serviço de guincho profissional para transportar seu veículo com segurança quando você mais precisa.</p> 
                        </div> 
                    </li> 
                    <li> 
                        <span>🚗</span> 
                        <div> 
                            <h3>Borracharia</h3> 
                            <p>Atendimento rápido para conserto e troca de pneus em qualquer lugar e horário.</p> 
                        </div> 
                    </li> 
                    <li> 
                        <span>🔋</span> 
                        <div> 
                            <h3>Troca de Baterias</h3> 
                            <p>Substituição imediata de baterias com produtos de qualidade para que seu veículo volte a funcionar rapidamente.</p> 
                        </div> 
                    </li> 
                    <li> 
                        <span>🛠️</span> 
                        <div> 
                            <h3>Atendimento de Prontidão</h3> 
                            <p>Assistência a qualquer hora do dia, estamos sempre prontos para te ajudar onde você estiver.</p> 
                        </div> 
                    </li> 
                </ul> 
            </div> 
        </div> 
    </div> 
</section>